{% load static %}
<section id="experience" class="p_120">
    <div class="container">
        <div class="tabs_inner  py-5 px-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold exp-edu" id="home-tab" data-toggle="tab" href="#home"
                       role="tab"
                       aria-controls="home" aria-selected="true">My Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold exp-edu" id="profile-tab" data-toggle="tab" href="#profile"
                       role="tab"
                       aria-controls="profile" aria-selected="false">My Education</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">
                        {% for experience in experiences %}
                            <li class="experience tabs-background p-3">
                                <span></span>
                                <div class="media">
                                    <div class="d-flex mx-sm-5">
                                        <p class="">{{ experience.date }}</p>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="text-capitalize">{{ experience.title }}</h4>
                                        <p>{{ experience.desc }}</p>
                                    </div>
                                </div>

                                {% if experience.desc_2 or experience.image %}
                                    <div class="text-sm-center">
                                        <button class="btn btn-dark rounded-circle" type="button" data-toggle="collapse"
                                                data-target="#e{{ experience.id }}" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            More Detail
                                        </button>
                                    </div>

                                    <div class="collapse" id="e{{ experience.id }}">
                                        <div class="p-4 experience-div mt-2">
                                            <p class="text-white text-center">
                                                {{ experience.desc_2 }}
                                            </p>
                                            {% if experience.image %}
                                                <img src="{{ experience.image.url }}" class="img-fluid rounded"
                                                     alt="">
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list">
                        {% for education in educations %}
                            <li class="experience tabs-background p-3">
                                <span></span>
                                <div class="media">
                                    <div class="d-flex mx-sm-5">
                                        <p>{{ education.date }}</p>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="text-capitalize">{{ education.title }}</h4>
                                        <p class="">{{ education.desc }}</p>
                                    </div>
                                </div>
                                {% if education.desc_2 or education.image %}
                                    <div class="text-sm-center">
                                        <button class="btn btn-dark rounded-circle" type="button" data-toggle="collapse"
                                                data-target="#ed{{ education.id }}" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            More Detail
                                        </button>
                                    </div>

                                    <div class="collapse" id="ed{{ education.id }}">
                                        <div class="p-4 experience-div mt-2">
                                            <p class="text-white text-center">
                                                {{ education.desc_2 }}
                                            </p>
                                            {% if education.image %}
                                                <img src="{{ education.image.url }}" class="img-fluid rounded"
                                                     alt="">
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

